.App {
  text-align: center;
}

h2 {
  background: -webkit-linear-gradient(greenyellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quoteCard{
  border-radius: 25px;
  margin: 20px;
}
